#body {
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    margin: 0;
    /*width: 100%;*/
    background: url('flappy-bg.png') repeat;
}
#header {
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background: url('flappy-header.png') top center no-repeat;
    background-size: 100%;
}
#cca {
    padding-top: 5%;
    padding-left: 60%;
    padding-bottom: 20px;
}
#header p{
    color: #FFD002;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}
#header a{
    text-decoration: none;
}
#header h1 {
    color: #FFD002;
    font-family: 'Roboto', sans-serif;
    font-size: 60px;
}
#flappy {
    position: absolute;
    padding-left: 5%;
    padding-top: 2%;
}
#footer {
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background: url('flappy-footer.png') top center no-repeat;
    background-size: 100%;
}
#footer p{
    color: #FFD002;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    padding: 20px;
    padding-top: 9%;
    padding-left: 15%;
    margin: 0;
}
#game {
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}

#logo {
    width: 220px;
}

#score {
    color: #FFD002;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}

#gamelink {
    color: #FFD002;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    margin-left: auto;
    margin-right:auto;
    width: 800px;
}

#greeting {
    position: absolute;
    left: 40%;
    top: 40%;
    background: #fff;
    width: 350px;
    height: 300px;
    border: 2px solid gray;
    border-radius: 5px;
    padding: 20px;
    display: none;
}

